* {
    margin: 0;

    padding: 0;
}

html, body {
    overflow: hidden;
}

main {
    height: 100vh;
    overflow-y: scroll;

    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    -ms-scroll-snap-type: y mandatory;

    /* Hide scrollbar for IE, Edge and Firefox */
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera */
main::-webkit-scrollbar {
  display: none;
}

.page {
    width: 100vw;
    height: 100vh;

    scroll-snap-align: center;
    -ms-scroll-snap-align: center;
}

.sticky-menu-wrapper {
    position: fixed;

    top: 50%;
    right: 10px;

    transform: translateY(-50%);
}

.sticky-menu {
    position: relative;

    background: rgb(0,0,0);
    background: rgba(0,0,0,0.7);

    -webkit-border-radius: 3px;
    border-radius: 3px;

    list-style: none;
}

.sticky-menu-item {
    position: relative;
    margin: 10px;

    width: 40px;
    height: 40px;
}

.sticky-menu-item > a {
    right: 0;
    display: flex;

    height: 100%;

    justify-content: right;
    align-items: center;

    color: rgb(240,240,240);
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    font-size: 24px;
}

.sticky-menu-item > a:active {
}

.sticky-menu-item > a > span {
    position: absolute;

    right: 30px;

    padding: 3px;

    visibility: hidden;

    opacity: 0;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.7);
    -webkit-border-radius: 3px;
    border-radius: 3px;

    color: rgb(255,255,255);

    white-space: nowrap;

    transition-property: right,opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}

.sticky-menu-item > a > .icon-wrapper:hover + span {
    right: 55px;

    visibility: visible;

    opacity: 1;
}

.sticky-menu-item > a > .icon-wrapper {
    display: flex;

    width: 40px;
    height: 100%;

    justify-content: center;
    align-items: center;
}

.sticky-menu-item > a > .icon-wrapper:hover {
    color: rgb(255,255,255);
}

.page#title {
    background: rgb(213,198,224);
    background: linear-gradient(-60deg,rgb(245,230,232) 0%,rgb(213,198,224) 25%,rgb(170,161,200) 75%);
}

.page#about-haskell-school-kr {
    background: rgb(150,122,161);
}

.page#schedule.day {
    background: rgb(245,230,232);
}
.page#schedule.night {
    background: rgb(25,42,81);
}

.page#about-seminar-team {
    background: rgb(170, 161, 200);
}
